Django==5.0
Pillow==11.0.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg[binary]
gunicorn==21.2.0
python-dotenv==1.0.1
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
requests
django-storages
boto3