<!-- nav.html -->
{% load static %}
<div class="menu">
    <div class="menu-top">
        <div class="logo">
            <div class="logo-name">
                <a href="{% if lang == 'en' %}/en/{% else %}/{% endif %}" class="logo-person"> GRZEGORZ<br> ALEKSANDER</a>
                <div class="logo-title">PHOTOGRAPHY</div>
            </div>
            <nav>
                {% if lang == 'en' %}
                    <a href="/en/">PRESENTATION</a>
                    <a href="/en/gallery">GALLERY</a>
                    <a href="/en/contact/">CONTACT</a>
                {% else %}
                    <a href="/">PREZENTACJA</a>
                    <a href="/galeria">GALERIA</a>
                    <a href="/kontakt/">KONTAKT</a>
                {% endif %}
                <div class="menu-bottom">
                    <div>
                        <input type="checkbox" class="checkbox lang-toggle" role="switch" id="lang-toggle" {% if lang == 'pl' %}checked{% endif %} />
                        <input type="checkbox" class="checkbox" role="switch" id="theme-toggle" />
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <a href="{% if lang == 'en' %}/en/privacy-policy/{% else %}/polityka-prywatnosci/{% endif %}" class="privacy-link">
        {% if lang == 'en' %}—PRIVACY POLICY—{% else %}—POLITYKA PRYWATNOŚCI—{% endif %}
    </a>
</div>